<div class="container">
  <div class="">
    <h4>Search</h4><small>スポットを探す</small>
  </div>
  <div class="">
    <h4>地図から探す</h4>
  </div>
  <div class="">
    <h4>地域から探す</h4>
  </div>
  <div class="">
    <h4>キーワードで探す</h4>
  </div>
  
</div>