<div class="container">
  <div class="">
    <h4>Search</h4><small>スポットを探す</small>
  </div>
  <div class="">
    <h4>地図から探す</h4>
      <div id="map"></div>
      <div class="map">
        <style>
          #map{
            height: 400px;
          }
        </style>

        <script>
          function initMap(){
            let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.025, lng: 139.351},
            zoom: 8
            });
          }
        </script>
      </div>
  </div>
  <div class="">
    <h4>地域から探す</h4>
  </div>
  <div class="">
    <h4>キーワードで探す</h4>
  </div>

</div>