<div class="container">
  <h1 class="text-imp">DiveSearch</h1>
  <h5 class="text">
    <span class="text-imp">DiveSearch</span>はダイビング情報共有サイトです
    <br>
    次のダイビングスポットを見つけたり、楽しさを共有したりできます
    <br>
    ダイビングに挑戦したい人にも情報盛りだくさん！
    <br>
    ダイビングの楽しみの幅を広げましょう！
  </h5>

</div>