<div class="container">
  <h1>DiveSearch</h1>
  <h3>次のダイビングはどこにする？</h3>
  <div class="row">
    <div class="col">
      <%= link_to "スポットを探す", spots_path %>
    </div>
    <div class="col">
      <%= link_to "最新の口コミ検索", comments_path %>
    </div>
  </div>
</div>





